@mixin styles {
  .projects {
    .card {
      .card-text:has(+ .project-misc) {
        border-bottom: 2px solid var(--card-header-bg);
      }

      .card-header {
        background-color: var(--card-header-bg);
      }
    }
  }

  .path-icon {
    --sprite-outline-color: #cccccc;
  }

  #post-list {
    &.home {
      --post-timeline-active-color: rgb(39, 39, 45);
    }
  }
}
