<span class="path-icon" id="pathIcon"></span>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const iconOverrides = {
      '/home': 'sword',
      '/projects': 'hammer',
      '/categories': 'pencil',
      '/tags': 'pencil',
      '/gallery': 'hammer',
      '/archives': 'pencil',
      '/about': 'bubble'
    };

    const iconPositions = {
      pencil: '0px 0px',
      hammer: '-32px 0px',
      sword: '-64px 0px',
      bubble: '-96px 0px',
      none: '0px, 32px'
    };

    const currentPath = window.location.pathname;

    let currentIcon = 'pencil';
    for (const [path, icon] of Object.entries(iconOverrides)) {
      if (currentPath.startsWith(path)) {
        currentIcon = icon;
        break;
      }
    }
    {% comment %} If project subpath, then switch to hammer. {% endcomment %}
    if (currentPath.startsWith('/projects/') && currentPath.slice(10).length > 0) {
      currentIcon = 'hammer';
    }
    if (currentPath === '/') {
      currentIcon = 'sword';
    }

    const currentState = window.history.state || {};
    const previousIcon = currentState.pathIcon || sessionStorage.getItem('pathIcon') || 'none';

    const pathIcon = document.getElementById('pathIcon');
    if (pathIcon) {
      if (previousIcon !== currentIcon) {
        pathIcon.style.backgroundPosition = iconPositions[previousIcon];
        void pathIcon.offsetWidth;
        pathIcon.classList.add('animate');
        pathIcon.style.backgroundPosition = iconPositions[currentIcon];
        pathIcon.addEventListener(
          'transitionnend',
          function () {
            pathIcon.classList.remove('animate');
          },
          { once: true }
        );

        const newState = { ...currentState, pathIcon: currentIcon };
        window.history.replaceState(newState, document.title, window.location.href);
        sessionStorage.setItem('pathIcon', currentIcon);
      } else {
        pathIcon.style.backgroundPosition = iconPositions[currentIcon];
      }
    }
  });
</script>

<style>
  .path-icon {
    display: inline-block;
    margin: 0;
    width: 32px;
    height: 32px;
    background-image: url('/assets/img/pfl-icons.png');
    background-position: 0px 32px;
    image-rendering: crisp-edges;
    background-size: 400%;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.401));
  }

  .path-icon.animate {
    transition: background-position 0.25s ease-out;
  }
</style>
