{%- comment -%}
  Add cover image, video if post needs it.
{%- endcomment -%}

{% if page.image and page.image.hide_cover != true %}
  {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
  {% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
  {% capture alt %}alt="{{ page.image.alt | xml_escape | default: "Preview Image" }}"{% endcapture %}

  {% if page.image.lqip %}
    {%- capture lqip -%}lqip="{{ page.image.lqip }}"{%- endcapture -%}
  {% endif %}

  <div class="mt-3 mb-3">
    <img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip }}>
    {%- if page.image.caption -%}
      <figcaption class="text-center pt-2 pb-2">{{ page.image.caption }}</figcaption>
    {%- endif -%}
  </div>
{% comment %} {% elsif page.video %}
  {% assign src=page.video.path | default: page.video %}
  {% assign types = page.video.types | join: "|" %}
  {% include embed/video.html src=src types=types %} {% endcomment %}
{% endif %}
