{% assign project = include.project %}
<div class="card mb-3">
  <div class="card-header d-flex flex-row justify-content-between align-items-center hide-border-bottom">
    <h5 class="card-title d-inline my-1">
      {{ project.title }}
    </h5>
    <span class="project-topics">
      {% assign topic_idx = 1 %}
      {% for topic in project.topics %}
        {{ topic }}
        {% if topic_idx < project.topics.size %}
          &gt;
        {% endif %}
        {% assign topic_idx = topic_idx | plus: 1 %}
      {% endfor %}
    </span>
  </div>
  <div class="row g-0 flex-md-row">
    {% assign right_col = 12 %}

    {% if project.image %}
      {% assign img_col_md = 4 %}
      {% if project.card_style.img_col_md %}
        {% assign img_col_md = project.card_style.img_col_md %}
      {% endif %}

      <div class="col-md-{{ img_col_md }}">
        {% capture src %}src="{{ project.image.path | default: project.image }}"{% endcapture %}
        {% capture class %}class="{% if project.image.no_bg %}{{ ' no-bg' }}{% endif %} justify-content-center"{% endcapture %}
        {% capture alt %}alt="{{ project.image.alt | xml_escape | default: "Preview Image" }}"{% endcapture %}
        {% if project.image.lqip %}
          {%- capture lqip -%}lqip="{{ project.image.lqip }}"{%- endcapture -%}
        {% endif %}
        <img {{ src }} {{ class }} {{ alt }} onerror="this.style.display='none'">
        {%- if project.image.caption -%}
          <figcaption class="text-center pt-2 pb-2">{{ project.image.caption }}</figcaption>
        {%- endif -%}
      </div>
      {% assign right_col = 12 | minus: img_col_md %}
    {% endif %}

    <div class="col-md-{{right_col}}">
      <div class="card-body">
        <p class="card-text">
          {{ project.description }}
        </p>
        <p class="card-text project-tag">
          {% if project.post_tag -%}
            <a href="/tags/{{ project.post_tag }}">View related posts</a>
          {%- endif %}
        </p>

        <div class="project-misc">
          {% if project.tools %}
            <div class="col-8">
              <ul class="project-tools list-group list-group-horizontal list-group-flush d-flex flex-wrap flex-row">
                {% for tool in project.tools %}
                  <li class="list-group-item border-0 py-1 px-1 text-nowrap">
                    <span
                      ><i>{{ tool }}</i></span
                    >
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if project.links %}
            <div class="col-4">
              <ul class="project-links list-group list-group-horizontal list-group-flush">
                {% for link in project.links %}
                  {% assign link_data = link | first %}
                  {% assign link_text = link_data[0] %}
                  {% assign link_url = link_data[1] %}

                  <li class="list-group-item">
                    <a href="{{link_url}}" class="card-link text-nowrap">
                      {% assign link_icon_class = null %}
                      {% for project_link_type in site.data['project-links'] %}
                        {% assign url_trimmed = link_url | slice: 0, project_link_type.base_url.size %}
                        {% if url_trimmed == project_link_type.base_url %}
                          {% assign link_icon_class = project_link_type.icon_class %}
                          {% break %}
                        {% endif %}
                      {% endfor %}

                      {% if link.icon_override %}
                        {% assign link_icon_class = link.icon_override %}
                      {% endif %}

                      {% if link_icon_class %}
                        <i class="{{link_icon_class}}"></i>
                      {% endif %}
                      <span>{{ link_text }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
